<div class='align-center'>
	<img src='/images/404.svg' style='height: 24em;'/>
	<p class='listing--link'>Looks like we lost the rest of the pack. Let's go back home.</p>
	<a href='/' style='color: white; text-decoration: none;'>
		<button>Back to Homepage</home>
	</a>
</button>