<ul>
	
	<li class='listing'>
		<div class='listing--metadata u-full-width'>
			<!-- <div class='listing--user-avatar icon-small'></div> -->
			<div>
				<span class='listing--fullname'>Full Name</span>
				<span class='listing--timestamp u-pull-right'>12h</span>
			</div>
			<span class='listing--username'>mdabukozw</span>
		</div>
		<div class='u-full-width'>
			<p class='listing--story'>
				<%= @message %>
			</p>
		</div>
	</li>
</ul>