<ul>
	<li class='listing'>
		<div class='u-full-width'>
			<form id='login' action='/listings/new' method='POST'>
				<label for='username' class='u-full-width'>Username</label>
				<input id='username' type='text' name='username' class='u-full-width' placeholder='Username'/>

				<label for='password' class='u-full-width'>Password</label>
				<input id='password' type='password' name='pwd' class='u-full-width' placeholder='Password'/>
			</form>
		</div>
		<div class='u-full-width'>
			<span class='listing--amount'>
				Let's get you some help!
			</span>
			<button class='u-pull-right' type='submit' form='login'>Login</button>
		</div>
	</li>
</ul>