<nav class='u-full-width'>
	<ul>
		<li>
			<a href="/" class="<%= current?('/') %>" title="Requests">
				<svg id="i-lightning" class='icon-micro' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
				    <path d="M18 13 L26 2 8 13 14 19 6 30 24 19 Z" />
				</svg>
			</a>
		</li>
		<!-- <div class='u-pull-right'>
			<li><a href="/listings/new" class="<%= current?('/listings/new') %>" title="Add New">
				<svg id="i-plus" class='icon-micro' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
				    <path d="M16 2 L16 30 M2 16 L30 16" />
				</svg>
			</a></li>
		</div> -->
	</ul>
</nav>
