<ul>
	<li class='listing'>
		<div class='listing--metadata u-full-width'>
			<!-- <div class='listing--user-avatar icon-small'></div> -->
			<div>
				<span class='listing--fullname'>Full Name</span>
				<span class='listing--timestamp u-pull-right'>12h</span>
			</div>
			<span class='listing--username'>mdabukozw</span>
		</div>
		<div class='u-full-width'>
			<p class='listing--story'>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			</p>
		</div>
	</li>
	<li class='listing'>
		<div class='listing--metadata u-full-width'>
			<!-- <div class='listing--user-avatar icon-small'></div> -->
			<div>
				<span class='listing--fullname'>Full Name</span>
				<span class='listing--timestamp u-pull-right'>12h</span>
			</div>
			<span class='listing--username'>mdabukozw</span>
		</div>
		<div class='u-full-width'>
			<p class='listing--story'>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			</p>
		</div>
	</li>
	<li class='listing'>
		<div class='listing--metadata u-full-width'>
			<!-- <div class='listing--user-avatar icon-small'></div> -->
			<div>
				<span class='listing--fullname'>Full Name</span>
				<span class='listing--timestamp u-pull-right'>12h</span>
			</div>
			<span class='listing--username'>mdabukozw</span>
		</div>
		<div class='u-full-width'>
			<p class='listing--story'>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			</p>
		</div>
	</li>
</ul>